<div class="arregloNav"></div>
<section class="mt-0 pc">
    <div id="carouselExampleInterval" class="carousel slide carrusel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/Img/nuevasImagenes/carrusel1prueba.jpg" routerLink="/catalogo" class="imagen-carrusel">

            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/Img/nuevasImagenes/carrusel2prueba.jpg" routerLink="/comparativa" class="imagen-carrusel">

            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/Img/nuevasImagenes/carrusel3prueba.jpg" routerLink="/contacto" class="imagen-carrusel">

            </div>
        </div>
        <button class="carousel-control-prev carruselBoton carruselBotonAnterior" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carruselBoton carruselBotonSiguiente" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="mobile">
    <div>
        <img src="/Img/nuevasImagenes/carrusel1prueba.jpg" routerLink="/catalogo" class="imagen-carrusel">
    </div>
    <div>
        <img src="/Img/nuevasImagenes/carrusel2prueba.jpg" routerLink="/catalogo" class="imagen-carrusel">
    </div>
    <div>
        <img src="/Img/nuevasImagenes/carrusel3prueba.jpg" routerLink="/catalogo" class="imagen-carrusel">
    </div>
</section>
