input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cabecera-catalogo {
    margin: 20px 0 15px 0;
    color: #fff;
}


.contenido {
    display: flex;
    border-top: 4px solid var(--color-azul-principal);
    border-bottom: 4px solid var(--color-azul-principal);
}

.filtro {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 25%;
    border-right: 4px solid var(--color-azul-principal);
    color: #fff;
    background-color: #1a1b1c;
    height: 100%;
    position: sticky;
    top: 115.4px;
    display: block;
}

@media (max-width:720px){
    .filtro {border-right: none;}
}


.seccion-catalogo {
    padding-top: 20px;
    width: 75%;

}

.titulo-filtro {
    font-size: 33px;
}

.elementos-filtro {
    font-size: 25px;
}

.elemento-select {
    font-size: 16.5px;
}

.inputFiltro {
    width: 80px;
}

.btnBuscar {
    font-size: 25px;
    border-radius: 10px;
    background-color: var(--color-azul-principal);
    border: none;
    color: #fff;
    border: 2px solid transparent;
}

.btnBuscar:hover {
    background-color: #0b0d8e;
    border: 2px solid #fff;
    transition: all 0.4s;
}

.btnLimpiar {
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFC107;
    height: 40px;
}

.elemento-filtro {
    margin-bottom: 8px;
}

.elemento-filtro select {
    height: 40px;
    border-radius: 10px;
    border: 3px solid var(--color-azul-principal);
    padding: 0 5px;
    background-color: #000;
    color: #fff;
}

.elemento-filtro input {

    border-radius: 10px;
    border: 3px solid var(--color-azul-principal);
    padding: 2px 5px;
    background-color: #000;
    color: #fff;
}

.elemento-filtro-precio {
    margin-bottom: 20px;
}

/* FILTRO RESPONSIVE */

.filtroResponsive {
    display: none;
}

@media (max-width: 700px) {
    .contenido {
        display: flex;
        flex-direction: column;
    }

    .filtro{
        position: static;
        width: 100%;
    }

    .seccion-catalogo {
        width: 100%;
    }

    .contenedorImagenesCatalogo {
        justify-content: space-between; /* Separa las cartas */
    }

    .cartaCatalogoCompleto {
        width: 48% !important; /* Dos cartas por fila ocupan el 48% del ancho cada una */
         /* La altura se ajusta autom치ticamente */
    }
}

/* CATALOGO */

.cartaCatalogoCompleto {
    width: 335px;
    margin-bottom: 22px;
    background-color: var(--color-gris-carta);
    border: 4px solid var(--color-azul-principal);
    color: var(--color-texto-prueba);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartaCatalogoCompleto:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.4s;
    background-color: var(--color-background-body);
    box-shadow: 0px 0px 27px 6px var(--color-azul-principal);
    border: 3px solid #fff;
}

.cartaCatalogoCompleto img {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    /* Se ajusta al ancho del contenedor */
    height: auto;
    /* Mantiene la proporci칩n */
    aspect-ratio: 335 / 250;
    /* Mantiene la proporci칩n 335x250 */
    object-fit: fill;
    /* Ajusta la imagen dentro del 치rea sin distorsionarse */
}


.contenedorImagenesCatalogo {
    flex-wrap: wrap;
}

.cartaInterna {
    padding: 5px 30px 10px 30px !important;
    width: 100%;
    align-items: space-evenly;
}

.elemento-de-carta {
    margin-bottom: 5px;
}


/*  Modales  */

.contenidoModal {
    background-color: var(--color-background-body);
    color: #fff;
}

.modalCatalogo {
    background-color: var(--color-gris-carta);
    display: flex;
}

.modalImagen{
    width: 50%;
}

.modalCatalogo img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 4px solid var(--color-azul-principal);
}

.modalCaracteristicas{
    width: 50%;
}

.textoModal {
    font-size: 18px;

    color: #fff;
}

@media (max-width: 700px) {
    .modalCatalogo{
        display: block;
    }

    .modalImagen{
        width: 100%;
    }
    .modalCatalogo img{
        height: auto ;
    }


    .modalCaracteristicas{
        width: 100%;
    }
}
